:host {
	flex: 1;
}
.fullpage {
	min-height: 100vh;
}
.form_login{
	border: 1px solid;
	border-radius: 10px;
}
.logo {
	vertical-align: top;
}
.btn-color{
    background-color: #343a40!important;
    color: white;
}