<div class="container">
  <div class="row fullpage">
    <div class="form_login col col-12 col-md-6 col-lg-4 m-auto py-4">
      <div class="mb-3">
        <div class="d-inline-block">
          <h1 class="font-weight-light">Add a resume</h1>
        </div>
      </div>
      <div class="form-group">
        <label for="user">First Name:</label>
        <input type="type" class="form-control" id="user" [(ngModel)]="profile.first_name">
      </div>
      <div class="form-group">
        <label for="user2">Last Name:</label>
        <input type="text" class="form-control" id="user2" [(ngModel)]="profile.last_name">
      </div>
      <div class="form-group">
        <label for="dob">Date of birth:</label>
        <input type="date" class="form-control" id="dob" [(ngModel)]="profile.dob">
      </div>
      <div class="form-group">
        <label for="gender">gender:</label>
        <select class="form-control" id="gender" value="M" [(ngModel)]="profile.gender">
          <option value="M" selected="selected">Male</option>
          <option value="F">Female</option>
          <option value="O">Other</option>
        </select> 
      </div>
      <div class="form-group">
        <label for="res">resume:</label>
        <input type="file" class="form-control" id="res" (change)="onfileselected($event)">
      </div>
      <button type="submit" class="btn btn-color w-100" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
