<div>
  first name : {{this.profile.first_name}}
</div>

<div>
  Last name : {{this.profile.last_name}}
</div>

<div>
  DOB : {{this.profile.dob}}
</div>

<div>
  gender : {{this.profile.gender}}
</div>

<div>
  age : {{this.profile.age}}
</div>

<a [href]="this.resume" target="_blank">resume</a>

