<div class="container">
  <div class="row fullpage">
    <div class="form_signup col col-12 col-md-6 col-lg-4 m-auto py-4">
      <div class="mb-3">
        <div class="d-inline-block">
          <h1 class="font-weight-light">Sign Up</h1>
          <h5 class="font-weight-light text-secondary">Resume Management</h5>
        </div>
      </div>
    
      <div class="form-group">
          <label for="name">User Name:</label>
          <input type="text" class="form-control" [(ngModel)]='user.username' id="name">
        </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" [(ngModel)]='user.email' id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input required type="password" class="form-control" [(ngModel)]='user.password1' id="pwd">
      </div>
      <div class="form-group">
        <label for="pwd2">Confirm Password:</label>
        <input required type="password" class="form-control" [(ngModel)]='user.password2' id="pwd2">
      </div>
      
      <button (click)="signUp()" class="btn btn-info w-100">Submit</button>
      <div class="mt-3">
        <div class="float-left">
          <a [routerLink]="['/login']">Login</a>
        </div>	
      </div>
    </div>
  </div>
</div>
