:host {
	flex: 1;
}
.fullpage {
	min-height: 100vh;
}
.form_signup{
	box-shadow: 0px 0px 8px 2px #9e959e;
	border-radius: 10px;
}
.logo {
	vertical-align: top;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}