<div class="container">
  <div class="row fullpage">
    <div class="form_login col col-12 col-md-6 col-lg-4 m-auto py-4">
      <div class="mb-3">
        <div class="d-inline-block">
          <h1 class="font-weight-light">Login</h1>
          <h5 class="font-weight-light text-secondary">Resume Management</h5>
        </div>
      </div>
      <div class="form-group">
        <label for="user">User Name:</label>
        <input type="user" class="form-control" id="user" [(ngModel)]="user.username">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" [(ngModel)]="user.password">
      </div>
      <button type="submit" class="btn btn-info w-100" (click)="login()">Submit</button>
      <div class="mt-3">
        <div class="float-left">
          <a [routerLink]="['/signup']">Sign up</a>
        </div>	
       
      </div>
    </div>
  </div>
</div>
