<div class="container">
  <div class="m-auto col-10">
    <table class="table table-striped mt-5">
      <thead class="thead-dark">
        <tr>
          <th scope="col">sr#</th>
          <th scope="col">First Name</th>
          <th scope="col">Name Last</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of this.list; index as j" (click)="gotoDetails(i.pk)" class="mouse">
          <th scope="row">{{j+1}}</th>
          <td>{{ i.first_name}}</td>
          <td>{{ i.last_name}}</td>
          <td><i *ngIf="this.u.is_superuser" class="far fa-trash-alt mr-2"></i><i class="far fa-edit"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>